{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/account.css') }}">
{% endblock %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}" alt="">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
    <div>
      <!-- register form -->
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Account Info</legend>

              <!-- username field -->
              <div class="form-group ">
                  {% if form.username.errors %}
                      {{ form.username(class="form-control is-invalid",placeholder="Username" ) }}
                          <div class="invalid-feedback">
                              {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                  {% else %}
                          {{ form.username(class="form-control",placeholder="Username") }}
                  {% endif %}
              </div>

              <!-- email field -->
              <div class="form-group">
                  {% if form.email.errors %}
                  <!-- input field goes red becouse of error -->
                  {{ form.email(class="form-control is-invalid",placeholder="Email") }}
                      <div class="invalid-feedback">
                          <!-- printing the error under the field -->
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      <!-- correctly filled field -->
                      {{ form.email(class="form-control",placeholder="Email") }}
                  {% endif %}
              </div>   
              <div class="form-group">
                  {{ form.picture.label() }}
                  {{ form.picture(class="form-control-file") }}
                  {% if form.picture.errors %}
                    {% for error in form.email.errors %}
                      <span class="text-danger" >{{ error }}</span>
                    {% endfor %}
                  {% endif %}
              </div>          
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-secondary")}}
          </div>
      </form>
  </div>
  </div>
{% endblock content %}